/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: hwb(264 1% 63% / 0.56);
  margin: 0;
  padding: 20px;
  color: #333;
  text-align: center;
}

h1, h2, h3, h4, p {
  margin: 0 0 10px 0;
}

h1{
  font-size: 25px;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: hwb(43 5% 13% / 0.541);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


button:hover {
  background-color: hsl(211, 48%, 47%);
}

/* Contenedores y secciones */
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

#profileName {
  font-size: 20px;
  color: #555;
}

/* Listas y elementos de lista */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

/* Formularios y entradas */
input[type="text"], input[type="url"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  width: calc(40% - 22px); /* Ajuste para padding y border */
  border-radius: 5px;
}

input[type="button"] {
  background-color: hwb(43 5% 13% / 0.541);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: hsl(211, 48%, 47%);
}

input::placeholder {
  color: hsl(0, 4%, 38%); /* Change placeholder text color to grey */
}

#addBlockedUrlForm {
  margin-bottom: 20px;
}

/* Mensajes y alertas */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.alert-success {
  background-color: #4CAF50; /* Green */
}

.alert-info {
  background-color: #2196F3; /* Blue */
}

.alert-warning {
  background-color: #ff9800; /* Orange */
}

body{
  overflow: scroll;
  background-color: rgb(241, 230, 194);
}
.navegacion{
  background-color: rgb(36, 23, 48);
}
.btn{
  background-color: rgb(255, 140, 0);
  border: 1px solid rgb(117, 65, 0)
}
.btn:hover{
  background-color: rgb(117, 53, 0);
  border: 1px solid rgb(117, 65, 0)
}