/* Estilos generales para el cuerpo y la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: hwb(264 1% 63% / 0.56);
  margin: 0;
  padding: 20px;
  color: #333;
  text-align: center;
}

h1, h2, h3, h4, p {
  margin: 0 0 10px 0;
}

/* Encabezado principal */
h1{
  font-size: 25px;
}


/* Mensajes de estado */
#navigationProfilesMessage {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent; /* Color de fondo más visible */
  color: #d8000c;
  display: inline-block;
}

/* Lista de perfiles */
#navigationProfileList {
  list-style-type: none;
  padding: 0;
}

#navigationProfileList li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para mejorar la profundidad */
}

/* Botones */
button {
  background-color: hsla(150, 100%, 50%, 0.541);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: hsl(211, 48%, 47%);
}

button:disabled {
  background-color: #ccc;
  color: #666; /* Texto más oscuro para mejor contraste */
}

/* Campos de entrada */
input[type="text"], input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: calc(40% - 22px); /* Ajuste para padding y border */
}

input::placeholder {
  color: hsl(0, 4%, 38%); /* Change placeholder text color to grey */
}

/* Contenedor principal */
.container {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15); /* Sombra más suave y extendida */
}

/* Mensaje de bienvenida */
#welcomeMessage {
  background-color: #e7f3fe;
  color: #00529B;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold; /* Texto en negrita */
}