/* Estilos generales para el cuerpo y la página */
body {
  font-family: 'Roboto', sans-serif; /* Cambio de fuente */
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  color: #333;
  line-height: 1.6; /* Mejora de la legibilidad */
}

/* Encabezado principal */
h1 {
  color: #333;
  font-size: 24px; /* Tamaño de fuente más grande */
}

/* Mensajes de estado */
#navigationProfilesMessage {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent; /* Color de fondo más visible */
  color: #d8000c;
  display: inline-block;
}

/* Lista de perfiles */
#navigationProfileList {
  list-style-type: none;
  padding: 0;
}

#navigationProfileList li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para mejorar la profundidad */
}

/* Botones */
button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease; /* Transición más suave */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para los botones */
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra más prominente en hover */
}

button:disabled {
  background-color: #ccc;
  color: #666; /* Texto más oscuro para mejor contraste */
}

/* Campos de entrada */
input[type="text"], input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* Ajuste de ancho completo */
}

/* Contenedor principal */
.container {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15); /* Sombra más suave y extendida */
}

/* Mensaje de bienvenida */
#welcomeMessage {
  background-color: #e7f3fe;
  color: #00529B;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold; /* Texto en negrita */
}